<section class="match">
  <div class="result">
    <div class="play1">
      User1 Name
      <img src="images/.png">
    </div>
    <div>VS</div>
    <div class="play2">
      User2 Name
      <img src="images/.png">
    </div>
  </div>

  <div>
    <div>
      <h1>User1 wins</h1>
    </div>
    <div>
      <h1>Draw</h1>
    </div>
  </div>

  <div>
    <h1>Make your movement</h1>

    <div class="play">
      <img src="images/rock.png">
      <img src="images/paper.png">
      <img src="images/scissors.png">
      <img src="images/lizard.png">
      <img src="images/spock.png">
    </div>
  </div>
</section>