<section class="tournaments">
  <h1>Tournaments</h1>

  <div class="tournament">
    <a>
      Nombre torneo
      <small>(1 / 10)</small>
    </a>
  </div>
  <hr>
  <form>
    <input type="text" name="tournamentName" placeholder="name">
    <select name="tournamentMaxUsers">
      <option value="2">2 players</option>
      <option value="4">4 players</option>
      <option value="8">8 players</option>
      <option value="16">16 players</option>
      <option value="32">32 players</option>
    </select>
    <button>New tournament</button>
  </form>
</section>